body {
	display: flex;
}

main {
	flex-grow: 1;
}

#ajax-resources {
	padding: 10px;
	max-height: 450px;
	overflow-y: auto;
	font-size: 13px;
}

#ajax-resources::-webkit-scrollbar {
	width: 5px;
}

#ajax-resources::-webkit-scrollbar-track {
	background: transparent;
}

#ajax-resources::-webkit-scrollbar-thumb {
  	background: lightgrey;
	border-radius: 5px;
}

#resources {
	margin-left: 50px;
	margin-right: 50px;
	min-height: 500px;
}

h2, .poster-name {
	color: #5F2EEA;
}

.poster-name {
	font-weight: bold;
	font-size: 16px;
}

.resource-card {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 20px;
	border-radius: 5px;
}

#add-btn, .delete-btn {
	margin-bottom: 20px;

	display: inline-block;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #6E7191;
	border-radius: 3px;
	background-color: #EFF0F6;
	color: #6E7191;
	cursor: pointer;
}

.delete-btn {
	margin: 0;
}