main {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 70px;
}

h1 {
	color: #5F2EEA;
}

#business-name {
	border: none;
	outline: none;
	background-color: transparent;
	-webkit-box-shadow: 0 0 0 30px #EFF0F6 inset !important;
}

.textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	min-height: 20px;
	line-height: 20px;
	padding-bottom: 5px;
	margin-top: 10px;
	border-bottom: 2px solid #5F2EEA;
	outline: none;
}

.business-name,
.business-category,
.business-viewlevel,
.business-province,
.business-city {
	background-color: #EFF0F6;
	border-radius: 5px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

label[for="business-name"],
label[for="ajax-category"],
label[for="view-level"],
label[for="ajax-province"],
label[for="ajax-city"] {
	line-height: 1.5;
	font-weight: bold;
	color: #6E7191;
}

/* short-input style */
.short-input {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding-top: 20px;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.left, .right {
	width: 425px;
}

/* end of short-input style */

label[for="short-problem-desc"],
label[for="long-problem-desc"],
label[for="about"],
label[for="file"] {
	color: #5F2EEA;
	font-weight: bold;
	font-size: 18px;
}

.business-short-problem, #create-business-problem, .business-about, .business-proposal {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

label[for="file"] {
	display: block;
	margin-bottom: 20px;
}

#create-btn {
	display: inline-block;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #5F2EEA;
	border-radius: 3px;
	/*background-color: #EFF0F6;*/
	background-color: white;
	color: #5F2EEA;
	transition: all 0.2s ease;
	font-family: inherit;
	cursor: pointer;
}

#create-btn:hover {
	background-color: #5F2EEA;
	color: white;
}