main {
	margin-top: 30px;
}

#owner-info {
	width: 80%;
	margin: 0 auto;
}

/* owner-info style */
.user-type {
	color: #5F2EEA;
	font-weight: bold;
}

.info-wrapper {
	display: flex;
	align-items: center;
}

#ajax-owner-name {
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	margin: 10px 0;
	margin-right: 20px;
}

.edit-profile {
	display: inline-block;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #6E7191;
	border-radius: 3px;
	background-color: #EFF0F6;
	color: #6E7191;
}
/* end of owner-info style*/

/* dashboard-nav style*/
.dashboard-nav {
	background-color: #5F2EEA;
	margin-bottom: 20px;
}

.dashboard-nav a {
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 93%;
	border-bottom: 3px solid transparent;
}

a.selected-link {
	border-bottom: 3px solid white;
}

.dashboard-wrapper {
	width: 50%;
	height: 50px;
	font-size: 16px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* end of dashboard-nav style */

/* ajax-container style */
#ajax-container {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0 40px;
}

/* end of ajax-container style*/

/* card style */
.business-card, 
.request-card,
.mentor-room-card {
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	padding: 20px;
	border-radius: 5px;
}
/* end of card style*/

/* business-card style */

.business-card p {
	margin-top: 0;
}

.business-card-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*background-color:  lightpink;*/
}

.business-card-name {
	font-weight: bold;
	font-size: 20px;
	color: #5F2EEA;
}

.business-card-category, .request-card-category, .mentor-room-card-category {
	background-color: #E5E0FF;
	font-weight: bold;
	font-size: 10px;
	padding: 2px 10px;
	border-radius: 16px;
	color: black;
}

.business-card-viewlevel, .request-card-viewlevel, .specified-tag{
	margin-left: 20px;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 10px;
	padding: 2px 10px;
	border-radius: 16px;
}

.business-card-problem {
	font-size: 13px;
}

.business-card-link, .request-card-link, .mentor-room-link{
	display: inline-block;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #5F2EEA;
	border-radius: 3px;
	/*background-color: #EFF0F6;*/
	color: #5F2EEA;
	transition: all 0.2s ease;
	font-family: inherit;
}

.business-card-link:hover, .request-card-link:hover, .mentor-room-link:hover {
	background-color: #5F2EEA;
	color: white;
}
/* end of business-card style*/

/* dashboard notif style*/
.ir-list-notif, .mr-list-notif, .bp-list-notif {
	margin: 0;
	margin-bottom: 20px;
	background-color: #FBF2A4;
	border: 5px solid #F5EC92;
	padding: 10px;
	font-size: 13px;
	color: #E9A94B;
	font-weight: bold;
	border-radius: 10px;	
}
/* end of dashboard notif style */

/* request-card style */

.request-card-title, .mentor-room-card-title {
	font-weight: bold;
	font-size: 16px;
	color: #5F2EEA;
}

.request-card-category, .request-card-viewlevel, .mentor-room-card-category, .specified-tag{
	font-size: 10px;
	margin-left: 10px;
}
/* end of request-card style */

/* ajax-notif style */
.notif-card p {
	margin: 0;
}

.notif-card {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #FBF2A4;
	border: 5px solid #F5EC92;
	padding: 10px;
	font-size: 13px;
	color: #E9A94B;
	font-weight: bold;
	border-radius: 10px;	

	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.close-notif-btn {
	border: none;
	margin-left: 10px;
	color: #FBF2A4;
	cursor: pointer;
	border-radius: 5px;
	background-color: #E9A94B;
}
/* end of ajax-notif style */

/* mentor-room-card style */
.specified-tag {
	background-color: #FF8F8F;
	color: #A82929;
}
/* end of mentor-room-card style*/